# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat
session.pid

# Go specific
gensokyo-kook.exe
gensokyo.exe
gsk.exe

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/